<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exer3.Properties.Settings.AlbumLaguConnectionString"
            connectionString="Data Source=RENITAWIDIASTUT\RENITAWDST;Initial Catalog=AlbumLagu;User ID=sa;Password=Rere2607"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>